@font-face {
  font-family: bahnschrift;
  src: url('https://martinraczszerelo.github.io/www.martin.racz/content/fonts/Bahnschrift_Regular.ttf');
}

@font-face {
  font-family: arial;
  src: url('https://martinraczszerelo.github.io/www.martin.racz/content/fonts/arial.ttf');
}

body {
  background-image: url('https://martinraczszerelo.github.io/www.martin.racz/content/back.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}

.center-logo {
        max-width: 100%;
        height: auto;
        display: block;
        padding: top;
        margin-left: auto;
        margin-right: auto;
    }

.center-img {
        max-width: 100%;
        height: auto;
        display: block;
    }

.bar {
    max-width: 900px;
    width: 100%;
    height: auto;
    table-layout: fixed;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width: 600px) {
    .bar {
        table-layout: auto;
    }
}

@media screen and (max-width: 500px) {
    .bar {
        width: 100%;
        height: auto;
        margin-top: 0;
    }
}

.cell {
    border-radius: 10px;
    border: 2px solid #000;
    text-align: center;
    padding: 3px;
  }

.link {
    color: #008;
    transition: font-size 0.3s ease;
}

.link:hover {
    color: #04F;
    font-size: 120%
}

.link:active {
    color: #FFF;
    background-color: #F00;
}

.bar-link {
    color: #008;
    transition: font-size 0.3s ease-in-out;
}

@media screen and (min-width: 600px) {
.bar-link:hover {
    color: #00F;
    font-size: 150%;
    font-weight: bold
}
}

.bar-link:active {
    color: #FFF;
    background-color: #F00;
}